<document>
  <mainTemplate>
    <background>
      <img src="{{img_url 'italy/italy_1.jpg' }}" />
      <img src="{{img_url 'italy/italy_2.jpg' }}" />
      <img src="{{img_url 'italy/italy_3.jpg' }}" />
      <img src="{{img_url 'italy/italy_4.jpg' }}" />
      <audio>
        <asset id="main_audio" src="{{asset_url 'audio/Building_Blocks.mp3' }}" keyDelivery="itunes" />
      </audio>
    </background>
    <menuBar>
      <section>
        <menuItem>
          <title>Tab 1</title>
        </menuItem>
        <menuItem>
          <title>Tab 2</title>
        </menuItem>
        <menuItem>
          <title>Tab 3</title>
        </menuItem>
      </section>
    </menuBar>
  </mainTemplate>
</document>