<document>
  <descriptiveAlertTemplate>
    <title>Title</title>
    <shelf>
      <section>
        <lockup>
          <img src="{{img_url 'music/music_1.lcr' }}" width="450" height="450" />
          <title class="showTextOnHighlight">Title 1</title>
        </lockup>
        <lockup>
          <img src="{{img_url 'music/music_2.lcr' }}" width="450" height="450" />
          <title class="showTextOnHighlight">Title 2</title>
        </lockup>
        <lockup>
          <img src="{{img_url 'music/music_3.lcr' }}" width="450" height="450" />
          <title class="showTextOnHighlight">Title 3</title>
        </lockup>
        <lockup>
          <img src="{{img_url 'music/music_4.lcr' }}" width="450" height="450" />
          <title class="showTextOnHighlight">Title 4</title>
        </lockup>
        <lockup>
        	<img src="{{img_url 'iceland/iceland_19.jpg' }}" width="752" height="450" />
          <title class="showTextOnHighlight">Title 5</title>
          <overlay>
            <title class="overlayTextLayout">Title</title>
            <text class="overlayTextLayout">Text 1</text>
            <text class="overlayTextLayout">Text 2</text>
            <text class="centeredText">Centered Text</text>
          </overlay>
        </lockup>
      </section>
    </shelf>
    <button>
      <text>Button 1</text>
    </button>
    <button>
      <text>Button 2</text>
    </button>
  </descriptiveAlertTemplate>
</document>
