<document>
  <listTemplate>
    <list>
      <header>
        <title>Template Examples</title>
      </header>
      <section>
        <listItemLockup data-href-page="alert" accessibilityText="Accessible alert template">
          <title>Alert</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/alert.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">An alert template displays a message on screen and asks the user to perform some action, such as confirm a purchase or destructive action.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="alert-with-description" accessibilityText="Accessible alert template with description">
          <title>Alert with Description</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/alertWithDescription.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This variation of the alert template uses a description to provide added detail for the user.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="alert-with-shelf" accessibilityText="Accessible alert template with shelf">
          <title>Alert with Shelf</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/alertWithShelf.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This variation of the alert template presents a shelf of items to the user.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="catalog" accessibilityText="Accessible catalog template">
          <title>Catalog</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/catalog.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A catalog template allows you to display groupings of related items, such as genres of movies or TV shows.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="compilation" accessibilityText="Accessible compilation template">
          <title>Compilation</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/compilation.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A compilation template displays elements contained by an item, such as songs in an album or tracks in a playlist. It’s most commonly used to display audio-related content.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="descriptive-alert" accessibilityText="Accessible descriptive alert template">
          <title>Descriptive Alert</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/descriptiveAlert.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A descriptive alert template shows a lengthy message on screen and may ask the user to perform some action, such as agreeing to terms and conditions or a licensing agreement.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="form" accessibilityText="Accessible form template">
          <title>Form</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/form.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A form template displays a keyboard and one or more text fields where the user can enter information, such as a name and email address.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="listitem-examples" accessibilityText="Accessible list template with list item examples">
          <title>List Item Examples</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/listItemExamples.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A list template shows a list of items on the right, such as movies or TV shows.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="list-with-banner" accessibilityText="Accessible list template with banner image">
          <title>List with Banner Image</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/listWithBanner.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A list template shows a list of items on the right, such as movies or TV shows.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="loading" accessibilityText="Accessible loading template">
          <title>Loading</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/loading.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A loading template temporarily displays a progress indicator and some descriptive text while your content is retrieved from the server.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="main" accessibilityText="Accessible main template">
          <title>Main</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/main.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A main template displays a full-screen image with a menu along the bottom. It’s commonly used for the home screen of a movie, with menu options for playing the movie and accessing chapters or extras.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-menu="true" accessibilityText="Accessible menu bar template">
          <title>Menu Bar</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/menuBar.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A menu bar template is designed for top-level navigation, as an entry page to your content. It includes a menu of items across the top. Focus on an item to display its related content below the menu.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="parade" accessibilityText="Accessible parade template">
          <title>Parade</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/parade.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A parade template shows rotating previews for a focused grouping of content, such as movies or albums in a particular genre.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="product" accessibilityText="Accessible product template">
          <title>Product</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/product.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A product template promotes movies, TV shows, or other products. It typically includes a product image, background, and descriptive information. A shelf below the product content displays related products and the user can scroll down to bring up more information, like cast and crew listings, ratings, or reviews.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="product-bundle" accessibilityText="Accessible product bundle template">
          <title>Product Bundle</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/productBundle.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A product bundle template promotes a series of related TV shows, movies, or other products. It typically includes an image, background, and descriptive information. A shelf below the content displays the products contained by the bundle, such as the episodes of a TV season. The user can scroll down to bring up more information, such as cast and crew listings, ratings, or reviews.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="rating" accessibilityText="Accessible rating template">
          <title>Rating</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/rating.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A rating template allows the user to adjust the rating of a particular item, such as a movie or song.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="search" accessibilityText="Accessible search template">
          <title>Search</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/search.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A search template lets users search your content and view found results. It includes a search field, a keyboard, and a list of results.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="stack" accessibilityText="Accessible stack template">
          <title>Stack</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/stack.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">A stack template shows stacked rows of items beneath a banner, such as movies, TV shows, or products.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="stack-dark-theme" accessibilityText="Accessible stack template with dark theme">
          <title>Stack with Dark Theme</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/stackWithDarkTheme.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This version of the stack template uses the dark theme to automatically adjust text color to display properly on a dark background. It also uses an alternate version of the banner element to display a large background image at the top of the page with actionable buttons.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="stack-light-theme" accessibilityText="Accessible stack template with light theme">
          <title>Stack with Light Theme</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/stackWithLightTheme.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This version of the stack template uses the light theme to automatically adjust text color to display properly on a light background. It also uses an alternate version of the banner element to display a small image at the top of the page with text and actionable buttons.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="stack-room" accessibilityText="Accessible stack room template">
          <title>Stack Room</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/stackRoom.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This version of the stack template uses a banner element to display a large background image at the top of the page with a full description.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
        <listItemLockup data-href-page="stack-separator" accessibilityText="Accessible stack template with separator">
          <title>Stack Separator</title>
          <relatedContent>
            <lockup>
              <img src="{{img_url 'templates/stackSeparator.jpg' }}" width="857" height="482" />
              <description class="descriptionLayout">This version of the stack template shows an example of a separator element and a button, which can be used to alter the content being presented to the user.</description>
            </lockup>
          </relatedContent>
        </listItemLockup>
      </section>
    </list>
  </listTemplate>
</document>
