<document>
    <searchTemplate>
      <searchField>Search</searchField>
      <collectionList>
        <shelf>
          <header>
            <title>Results</title>
          </header>
          <section>
            <lockup>
              <img src="{{img_url 'movies/movie_1.lcr' }}" width="350" height="520" />
              <title>The Puffin</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_2.lcr' }}" width="350" height="520" />
              <title>Lola and Max</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_3.lcr' }}" width="350" height="520" />
              <title>Road to Firenze</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_4.lcr' }}" width="350" height="520" />
              <title>Three Developers and a Baby</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_5.lcr' }}" width="350" height="520" />
              <title>Santa Cruz Surf</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_6.lcr' }}" width="350" height="520" />
              <title>Cinque Terre</title>
            </lockup>
            <lockup>
              <img src="{{img_url 'movies/movie_7.lcr' }}" width="350" height="520" />
              <title>Creatures of the Rainforest</title>
            </lockup>
          </section>
        </shelf>
      </collectionList>
    </searchTemplate>
  </document>
