<document>
  <stackTemplate theme="dark" class="darkBackgroundColor">
    <identityBanner>
      <background>
        <img src="{{img_url 'iceland/iceland_wide.jpg' }}" width="1920" height="360" />
      </background>
      <title>Lorem Ipsum Dolor</title>
      <subtitle>Lorem Ipsum</subtitle>
      <row>
        <buttonLockup>
          <badge src="resource://button-follow" />
          <title>Title 1</title>
        </buttonLockup>
        <buttonLockup>
          <badge src="resource://button-checkmark" />
          <title>Title 2</title>
        </buttonLockup>
        <buttonLockup>
          <badge src="resource://button-add" />
          <title>Title 3</title>
        </buttonLockup>
      </row>
    </identityBanner>
    <collectionList>
      <shelf>
        <header>
          <title>Shelf title</title>
        </header>
        <section>
          <lockup>
            <img src="{{img_url 'music/music_1.lcr' }}" width="308" height="308" />
            <title>Title 1</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_2.lcr' }}" width="308" height="308" />
            <title>Title 2</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_3.lcr' }}" width="308" height="308" />
            <title>Title 3</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_4.lcr' }}" width="308" height="308" />
            <title>Title 4</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_5.lcr' }}" width="308" height="308" />
            <title>Title 5</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_6.lcr' }}" width="308" height="308" />
            <title>Title 6</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'music/music_7.lcr' }}" width="308" height="308" />
            <title>Title 7</title>
          </lockup>
        </section>
      </shelf>
      <shelf>
        <header>
          <title>Shelf title</title>
        </header>
        <section>
          <lockup>
            <img src="{{img_url 'italy/italy_1_square.jpg' }}" width="308" height="308" />
            <title>Title 1</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_2_square.jpg' }}" width="308" height="308" />
            <title>Title 2</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_3_square.jpg' }}" width="308" height="308" />
            <title>Title 3</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_4_square.jpg' }}" width="308" height="308" />
            <title>Title 4</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_5_square.jpg' }}" width="308" height="308" />
            <title>Title 5</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_6_square.jpg' }}" width="308" height="308" />
            <title>Title 6</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_7_square.jpg' }}" width="308" height="308" />
            <title>Title 7</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_8_square.jpg' }}" width="308" height="308" />
            <title>Title 8</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_9_square.jpg' }}" width="308" height="308" />
            <title>Title 9</title>
          </lockup>
          <lockup>
            <img src="{{img_url 'italy/italy_10_square.jpg' }}" width="308" height="308" />
            <title>Title 10</title>
          </lockup>
        </section>
      </shelf>
    </collectionList>
  </stackTemplate>
</document>
